html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.full-header-05nuo{
    position: relative;
    background: linear-gradient(180deg, rgba(92,196,151,1) 0%, rgba(255,255,255,1) 83%);
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 0;
    overflow-x: hidden;
}

#header-title-05nuo{
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 40%;
    padding-left: 1%;

    font-size: 2rem;
}

#header-title-05nuo p{

}

#header-title-05nuo #text-scrollA-05nuo{
    perspective: 800;
    
}

#header-title-05nuo #text-scrollB-05nuo{

}
    
#header-svg-05nuo{
    position: absolute;
    display: block;
    width: 60%;
    left: calc(40% - max(3.35%, 28px));
    top: 0;
    transition: left 1s ease, top 1s ease;
}