html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.fusion-page-title-bar{
	display: none;
}

.fusion-logo-link{
	display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.full-header-05nuo{
    position: relative;
    background: linear-gradient(180deg, rgb(86, 187, 143) 5%, rgba(255,255,255,1) 75%);
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
@media only screen and (max-height:500px){
    .full-header-05nuo{
        background: linear-gradient(180deg, rgb(86, 187, 143) 20%, rgba(255,255,255,1) 100%);
    }
}
@media only screen and (max-height:400px){
    .full-header-05nuo{
        background: linear-gradient(180deg, rgb(86, 187, 143) 25%, rgba(255,255,255,1) 120%);
    }
}

#header-title-05nuo{
    --title-padding-left-05nuo: 2.5%;
    --title-size-05nuo: 35px;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 35%;
    text-align: left;
    padding:2.5% 1% 2.5% 1%;
    margin: 1.5% 2.5% 1.5% 2.5%;
    padding-left: var(--title-padding-left-05nuo);
    border-radius: 20px;
    float:right;

    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: normal;
    background: linear-gradient(180deg, rgba(76, 180, 135, 0.95) 5%, rgba(90, 199, 152, 0.5) 100%);
}

#header-title-05nuo .large-title-05nuo{
    font-size: 45px; 
    font-weight: 600;
}

#header-title-05nuo h1{
    margin: 0;
    font-size: var(--title-size-05nuo);
    line-height: calc(var(--title-size-05nuo) * 2);
    font-weight: normal;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: normal;
}

#placeholder-05nuo{
    opacity: 0;
    user-select: none;
}

#placeholder2-05nuo{
    opacity: 0;
    user-select: none;
}

.cube-text-05nuo{
    --face-height-05nuo: 0;
    --transform-transition-time-05nuo: 1s;
    position: absolute;
    display: block;
    box-sizing: border-box;

    font-size: var(--title-size-05nuo);
    font-weight: 400;
    text-align: center;

    perspective-origin: center;
    transform-style: preserve-3d;
    transform-origin: calc(var(--face-height-05nuo) / 2) calc(var(--face-height-05nuo) / 2) 0;
    transform: perspective(1000px);
    transition: transform var(--transform-transition-time-05nuo) ease-in-out, left 0.15s ease, top 0.15s ease;
}

#interactive-text-05nuo{
    --cube-rotate-05nuo: 0deg;
    transform: rotateX(var(--cube-rotate-05nuo));

}
#interactive-text2-05nuo{
    --cube-rotate2-05nuo: 0deg;
    transform: rotateX(var(--cube-rotate2-05nuo));
}

.face-05nuo{
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 0;
    top:0;
    padding-top: 0;
    width: 100%;
    height: var(--face-height-05nuo);
    backface-visibility: hidden;
    color: white;
    border: 1px solid white;
}

/* cube 1 */

#interactive-text-05nuo .text-scrollFront-05nuo{
    transform: translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

#interactive-text-05nuo .text-scrollTop-05nuo{
    transform: rotateX(90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

#interactive-text-05nuo .text-scrollBottom-05nuo{
    transform: rotateX(-90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

#interactive-text-05nuo .text-scrollBack-05nuo{
    transform: rotateX(-180deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

/*cube 2*/

#interactive-text2-05nuo .text-scrollFront-05nuo{
    transform: translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

#interactive-text2-05nuo .text-scrollTop-05nuo{
    transform: rotateX(90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

#interactive-text2-05nuo .text-scrollBottom-05nuo{
    transform: rotateX(-90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

#interactive-text2-05nuo .text-scrollBack-05nuo{
    transform: rotateX(-180deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}
    
#header-svg-05nuo{
    position: absolute;
    display: block;
    width: 53%;
    left: calc(47% - max(3.35%, 28px));
    top: 0;
    transition: left 1s ease, top 1s ease;
}