html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    isolation: isolate;
}

.fusion-page-title-bar{
	display: none;
}

.fusion-logo-link{
	display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.full-header-05nuo{
    --title-size-05nuo: 35px;
    --large-title-size-05nuo: 40px;
    --Max-title-size-05nuo: 47px;
    position: relative;
    background: linear-gradient(180deg, rgb(145, 192, 69) 30%,rgb(253, 233, 211) 100%);
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
@media only screen and (max-height:500px){
    .full-header-05nuo{
        background: linear-gradient(180deg, rgb(145, 192, 69) 20%, rgb(253, 233, 211) 100%);
    }
}
@media only screen and (max-height:400px){
    .full-header-05nuo{
        background: linear-gradient(180deg, rgb(145, 192, 69) 25%, rgb(253, 233, 211) 100%);
    }
}

#header-title-05nuo{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;

    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 3% 4% 2.5% 5%;
    border-radius: 0 0 20px 20px;
    float:center;

    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: normal;

    transform: translateY(-100%);
    transition: transform 1s ease, width 0.25s ease, height 0.25s ease; 
}

#header-title-05nuo h1{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 60px; 
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
}

#main-title-05nuo .item1-05nuo{
    transform: translateY(-150%);
    animation: letter-drop-05nuo 0.8s ease 0s 1 normal both;
    
}
#main-title-05nuo .item2-05nuo{
    transform: translateY(-150%);
    animation: letter-drop-05nuo 0.8s ease 0.15s 1 normal both;
}
#main-title-05nuo .item3-05nuo{
    transform: translateY(-150%);
    animation: letter-drop-05nuo 0.8s ease 0.3s 1 normal both;
}
#main-title-05nuo .item4-05nuo{
    transform: translateY(-150%);
    animation: letter-drop-05nuo 0.8s ease 0.45s 1 normal both;
}

@keyframes letter-drop-05nuo{
    0%{
        transform: translate(-100%,-150%) scale(3); 
    }
    100%{
        transform: translate(0, 0) scale(1); 
    }
}

@keyframes letter-slide-05nuo{
    0%{
        transform: translateX(0) scale(1);
    }
    10%{
        transform: translateX(50%) scale(1.2);
    }
    50%{
        transform: translateX(50%) scale(1.2);
    }
    60%{
        transform: translateX(0) scale(1);
    }
    100%{
        transform: translateX(0) scale(1);
    }
}

/* used on main-title-05nuo (h1 of header title)*/
@keyframes acea-slide-05nuo{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-12%);
    }
    50%{
        transform: translateX(-12%);
    }
    60%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    } 
}

#header-title-05nuo h2{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
    box-sizing: border-box;
    width: 65%;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: var(--large-title-size-05nuo);
    font-weight: normal;
    color:white;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.4);
    transition: width 0.2s ease;
}

#header-title-05nuo h2 .sub-item1-05nuo{
    animation: subtitle-intro1-05nuo 0.8s ease 1.2s 1 normal both;
}
#header-title-05nuo h2 .sub-item2-05nuo{
    width: 100%;
    height: 3px;
    background:white;
    border-radius: 100%;
    transform-origin: left;
    animation: line-slide-05nuo 10s ease 3.2s infinite normal both;
}
#header-title-05nuo h2 .sub-item3-05nuo{
    text-align: right;
    animation: subtitle-intro2-05nuo 0.8s ease 1.2s 1 normal both;
}

@keyframes subtitle-intro1-05nuo{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes subtitle-intro2-05nuo{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes line-slide-05nuo{
    0%{
        transform: scaleX(0);
        transform-origin: left;
        box-shadow: 0 0 0px rgba(255, 255, 255, 1);
    }
    5%{
        transform: scaleX(1);
        transform-origin: left;
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
    5.5%{
        transform: scaleX(1);
        transform-origin: right;
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
    10%{
        transform: scaleX(0);
        transform-origin: right;
        box-shadow: 0 0 0px rgba(255, 255, 255, 1);
    }
    50%{
        transform: scaleX(0);
        transform-origin: right;
        box-shadow: 0 0 0px rgba(255, 255, 255, 1);
    }
    55%{
        transform: scaleX(1);
        transform-origin: right;
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
    56%{
        transform: scaleX(1);
        transform-origin: left;
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
    61%{
        transform: scaleX(0);
        transform-origin: left;
        box-shadow: 0 0 0px rgba(255, 255, 255, 1);
    }
    100%{
        transform: scaleX(0);
        transform-origin: left;
        box-shadow: 0 0 0px rgba(255, 255, 255, 1);
    } 
}

#transit-text-05nuo{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

    box-sizing: border-box;

    width: 100%;
    margin: 0;
    margin-top:60%;
    padding: 0 3% 1% 3%;
    
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: normal;
    text-align: left;
}
#transit-text-05nuo .inner-flex-05nuo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px
}

#transit-text-05nuo .large-title-05nuo{
    font-size: var(--large-title-size-05nuo); 
    font-weight: 600;
}
#transit-text-05nuo h1{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: var(--title-size-05nuo);
    line-height: calc(var(--title-size-05nuo) * 2);
    font-weight: normal;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: normal;
    text-shadow: 0px 0px 10px rgba(26, 23, 212, 0.7);
}

.placeholder-05nuo{
    opacity: 0;
    user-select: none; 
    position: absolute;
}

.cube-text-05nuo{
    --face-height-05nuo: 0;
    --transform-transition-time-05nuo: 1s;
    position: relative;
    display: block;
    box-sizing: border-box;

    font-size: var(--title-size-05nuo);
    font-weight: 400;
    text-align: center;
    
    height: var(--face-height-05nuo);
    perspective-origin: center;
    transform-style: preserve-3d;
    transform-origin: calc(var(--face-height-05nuo) / 2) calc(var(--face-height-05nuo) / 2) 0;
    transform: perspective(1000px);
    transition: transform var(--transform-transition-time-05nuo) ease-in-out, left 0.15s ease, top 0.15s ease;
}

#transit-rotate-text-05nuo{
    --cube-rotate-05nuo: 0deg;
    transform: rotateX(var(--cube-rotate-05nuo));
}

#transit-rotate-text2-05nuo{
    --cube-rotate2-05nuo: 0deg;
    transform: rotateX(var(--cube-rotate2-05nuo));
}

.face-05nuo{
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 0;
    top:0;
    padding-top: 0;
    width: 100%;
    height: var(--face-height-05nuo);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    color: white;
    border: 1px solid white;
    text-shadow: 0px 0px 12px rgba(26, 23, 212, 0.5);
    box-shadow: inset 0px 0px 8px rgba(26, 23, 212, 0.3);
}

/* cube 1 */

.text-scrollFront-05nuo{
    transform: translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

.text-scrollTop-05nuo{
    transform: rotateX(90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

.text-scrollBottom-05nuo{
    transform: rotateX(-90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

.text-scrollBack-05nuo{
    transform: rotateX(-180deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

/*cube 2*/

.text-scrollFront-05nuo{
    transform: translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

.text-scrollTop-05nuo{
    transform: rotateX(90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

.text-scrollBottom-05nuo{
    transform: rotateX(-90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

.text-scrollBack-05nuo{
    transform: rotateX(-180deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}
    
#header-svg-05nuo{
    --animation-seek-05nuo: 0;
    position: absolute;
    display: block;
    width: 53%;
    left: calc(47% - max(3.35%, 28px));
    top: 0;
    transform: translateX(0) translateY(0);
    transition: left 1s ease, top 1s ease, width 0.5s ease, height 0.5s ease;
}

.svg-clip-path-05nuo{
    clip-path: inset(0% 0% 0% 0%);
    /* animation: svg-clip-anim-05nuo 1s ease; */
    animation: svg-clip-anim-05nuo 1s ease;
    animation-play-state: paused;
    animation-fill-mode: both;
    animation-delay: calc(var(--animation-seek-05nuo)*-1s);
}

.svg-clip-left-05nuo{
    clip-path: inset(0% 67% 0% 3%);
}

.svg-clip-middle-05nuo{
    clip-path: inset(0% 34% 0% 36%);
}

.svg-clip-right-05nuo{
    clip-path: inset(0% 2% 0% 72%);
}

@keyframes svg-clip-anim-05nuo{
    0%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    100%{
        /* clip-path: inset(0% 67% 0% 3%); */
        clip-path: polygon(3% 0%, 31.5% 0%, 31.5% 90%, 3% 100%);
    }
}

#scroll-bg-05nuo{
    opacity: 0;
    transition: opacity .4s ease-out;
}

/***************  */
#enterprise-panel-05nuo{
    position: relative;
    width: 100vw;
    height: 120vh;
    background: linear-gradient(180deg, rgba(253,233,211,1) 0%, rgba(76,48,237,1) 28%);
}