html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    isolation: isolate;
}

.fusion-page-title-bar{
	display: none;
}

.fusion-logo-link{
	display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.full-header-05nuo{
    --title-size-05nuo: 35px;
    --large-title-size-05nuo: 40px;
    position: relative;
    background: linear-gradient(180deg, rgb(91, 97, 187) 30%,rgb(209, 206, 218) 100%);
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
@media only screen and (max-height:500px){
    .full-header-05nuo{
        background: linear-gradient(180deg, rgb(91, 97, 187) 20%, rgb(209, 206, 218) 100%);
    }
}
@media only screen and (max-height:400px){
    .full-header-05nuo{
        background: linear-gradient(180deg, rgb(91, 97, 187) 25%, rgb(209, 206, 218) 100%);
    }
}

#header-title-05nuo{
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: max(2.5%, 20px) 4% 2.3% max(5%, 20px);

    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: normal;

    transition: transform 0.1s ease;

    mix-blend-mode: normal;
}

#header-title-05nuo h1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    margin: 0;

    font-family: 'Lato', sans-serif;
    font-size: var(--large-title-size-05nuo);
    font-weight: normal;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.4);
    transition: width 0.2s ease;
}

#header-title-05nuo h1 .sub-item1-05nuo{
    animation: subtitle-intro-05nuo 0.6s ease 0.5s 1 normal both;
}
#header-title-05nuo h1 .sub-line-05nuo{
    position: relative;
    display:block;
    height:100%;
    width: 5px;

    background:rgba(247, 247, 247, 1);
    transform-origin: top;
}
#title-line1-05nuo{
    animation: line-slide-05nuo 3s ease 0s 1 normal both;
}
#title-line2-05nuo{
    animation: line-slide2-05nuo 3s ease 0s 1 normal both;
}

@keyframes subtitle-intro-05nuo{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes line-slide-05nuo{
    0%{
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    12%{
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    25%{
        transform: scaleY(0.5);
        transform-origin: top;
        opacity: 1;
    }
    28%{
        transform: scaleY(0.5);
        transform-origin: bottom;
        opacity: 1;
    }
    38%{
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }
    45%{
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }
    50%{
        transform: scaleY(0.5);
        transform-origin: bottom;
        opacity: 1;
    }
    57%{
        transform: scaleY(0.5);
        transform-origin: top;
        opacity: 1;
    }
    65%{
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    100%{
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    } 
}

@keyframes line-slide2-05nuo{
    0%{
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }
    12%{
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }
    25%{
        transform: scaleY(0.5);
        transform-origin: bottom;
        opacity: 0.9;
    }
    28%{
        transform: scaleY(0.5);
        transform-origin: top;
        opacity: 0.9;
    }
    38%{
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    45%{
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    50%{
        transform: scaleY(0.5);
        transform-origin: top;
        opacity: 0.9;
    }
    57%{
        transform: scaleY(0.5);
        transform-origin: bottom;
        opacity: 0.9;
    }
    65%{
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    }
    100%{
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0;
    } 
}

/****************************** reserved functionality **********************************************/
/* #sign-in-05nuo{
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 10%;

    font-size: 25px;
    font-family: "Lato", sans-serif;
    color:white;

    text-align:center;
    background:rgb(145, 192, 69);
    border-radius: 50% 50%;
    box-shadow: none;

    transform-style: preserve-3d;
    transform: perspective(600px) rotateX(90deg);
    animation: none;
    transition: box-shadow 0.25s ease;
}

@keyframes button-rotate-down-05nuo{
    from{
        transform: perspective(600px) rotateX(90deg) rotateY(-30deg) translate(-25%, -50%);
        opacity: 0;
    }
    to{
        transform: perspective(600px) rotateX(0deg) rotateY(0deg) translate(0, 0);
        opacity: 1;
    }
}
@keyframes button-rotate-up-05nuo{
    from{
        transform: perspective(600px) rotateX(0deg) rotateY(0deg) translate(0, 0);
        opacity: 1;
    }
    to{
        transform: perspective(600px) rotateX(90deg) rotateY(-30deg) translate(-25%, -50%);
        opacity: 0;
    }
}
@media only screen and (max-width: 600px){
    #sign-in-05nuo{
        font-size: 20px;
    }
}

#sign-in-05nuo p{
    position: relative;
    display: block;
    padding:0;
    margin:0;
    text-shadow: 0 0 5px rgba(252, 255, 224, 0.2);
}
#button-word1-05nuo{
    position: relative;
    display: block;
    padding: 0;
    margin:0;
    animation: button-word-wave-05nuo 5s cubic-bezier(.22,.95,.43,.98) 3.6s infinite normal both;
}
#button-word2-05nuo{
    position: relative;
    display: block;
    padding: 0;
    margin:0;
    animation: button-word-wave2-05nuo 5s cubic-bezier(.22,.95,.43,.98) 4s infinite normal both;
}
@keyframes button-word-wave-05nuo{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.175);
    }
    55%{
        transform: scale(1.175);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes button-word-wave2-05nuo{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.175);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}

#button-svg-bg-05nuo{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}



#transit-text-05nuo{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

    box-sizing: border-box;

    width: 100%;
    margin: 0;
    margin-top:60%;
    padding: 0 3% 1% 3%;
    
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: normal;
    text-align: left;
    transition: margin 0.3s ease;
}
#transit-text-05nuo .inner-flex-05nuo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px
}

#transit-text-05nuo .large-title-05nuo{
    font-size: var(--large-title-size-05nuo); 
    font-weight: 600;
}
#transit-text-05nuo h1{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: var(--title-size-05nuo);
    line-height: calc(var(--title-size-05nuo) * 2);
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: normal;
    text-shadow: 0px 0px 10px rgba(26, 23, 212, 0.7);
}

.placeholder-05nuo{
    opacity: 0;
    user-select: none; 
    position: absolute;
}

.cube-text-05nuo{
    --face-height-05nuo: 0;
    --transform-transition-time-05nuo: 1s;
    position: relative;
    display: block;
    box-sizing: border-box;

    font-size: var(--title-size-05nuo);
    font-weight: 400;
    text-align: center;
    
    height: var(--face-height-05nuo);
    perspective-origin: center;
    transform-style: preserve-3d;
    transform-origin: calc(var(--face-height-05nuo) / 2) calc(var(--face-height-05nuo) / 2) 0;
    transform: perspective(1000px);
    transition: transform var(--transform-transition-time-05nuo) ease-in-out, left 0.15s ease, top 0.15s ease;
}

#transit-rotate-text-05nuo{
    --cube-rotate-05nuo: 0deg;
    transform: rotateX(var(--cube-rotate-05nuo));
}

#transit-rotate-text2-05nuo{
    --cube-rotate2-05nuo: 0deg;
    transform: rotateX(var(--cube-rotate2-05nuo));
}

.face-05nuo{
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 0;
    top:0;
    padding-top: 0;
    width: 100%;
    height: var(--face-height-05nuo);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    color: white;
    border: 1px solid white;
    text-shadow: 0px 0px 12px rgba(26, 23, 212, 0.5);
    box-shadow: inset 0px 0px 8px rgba(26, 23, 212, 0.3);
}

.text-scrollFront-05nuo{
    transform: translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

.text-scrollTop-05nuo{
    transform: rotateX(90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

.text-scrollBottom-05nuo{
    transform: rotateX(-90deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
}

.text-scrollBack-05nuo{
    transform: rotateX(-180deg) translateZ(calc(0.5 * var(--face-height-05nuo))); 
    opacity: 1;
} */

/*********************************************************************************/
    
#svg-bg-05nuo{
    position:absolute;
    width: 100vmax;
    height: 100%;
    left: 0;
    top: 0;
}

.bg-svg-path-05nuo{
    fill: none;
    fill-opacity: 0;
    stroke: rgba(252, 255, 224, 1);
    stroke-width: 6px;
    stroke-linecap: square;
}
#bg-path1-05nuo{
    stroke-dasharray: 1500 4500;
    animation: stroke-offset-05nuo 6s linear 1.25s infinite normal both;
}
#bg-path2-05nuo{
    stroke-dasharray: 1450 4500;
    animation: stroke-offset-05nuo 6s linear 2.35s infinite normal both;
}
#bg-path3-05nuo{
    stroke-dasharray: 1650 4500;
    animation: stroke-offset-05nuo 6s linear 2.9s infinite normal both;
}
#bg-path4-05nuo{
    stroke-dasharray: 1600 4500;
    animation: stroke-offset-05nuo 6s linear 3.95s infinite normal both;
}
#bg-path5-05nuo{
    stroke-dasharray: 1400 4500;
    animation: stroke-offset-05nuo 6s linear 4.25s infinite normal both;
}
#bg-path6-05nuo{
    stroke-dasharray: 1500 4500;
    animation: stroke-offset-05nuo 6s linear 5.3s infinite normal both;
}
#bg-path7-05nuo{
    stroke-dasharray: 1450 4500;
    animation: stroke-offset-05nuo 6s linear 5.69s infinite normal both;
}
#bg-path8-05nuo{
    stroke-dasharray: 1650 4500;
    animation: stroke-offset-05nuo 6s linear 6s infinite normal both;
}
#bg-path9-05nuo{
    stroke-dasharray: 1600 4500;
    animation: stroke-offset-05nuo 6s linear 6.3s infinite normal both;
}
#bg-path10-05nuo{
    stroke-dasharray: 1400 4500;
    animation: stroke-offset-05nuo 6s linear 7s infinite normal both;
}
#bg-path11-05nuo{
    stroke-dasharray: 1400 4500;
    animation: stroke-offset-05nuo 6s linear 7.2s infinite normal both;
}

@keyframes stroke-offset-05nuo{
    0%{
        stroke-dashoffset: 1650;
        stroke-width: 1px;
        opacity: 0.05;
    }
    35%{
        stroke-dashoffset: 100;
        stroke-width: 9px;
        opacity: 0.2;
    }
    70%{
        stroke-dashoffset: -4500;
        stroke-width: 1px;
        opacity: 0.05;
    }
    100%{
        stroke-dashoffset: -4500;
        stroke-width: 1px;
        opacity: 0.05;
    }
}

#header-svg-05nuo{
    --animation-seek-05nuo: 0;
    position: absolute;
    display: block;
    transform: translateX(0) translateY(0);
    transition: left 1s ease, top 1s ease, width 1s ease, height 1s ease;
}

.svg-clip-path-05nuo{
    animation: svg-clip-anim-05nuo 1s ease;
    animation-play-state: paused;
    animation-fill-mode: both;
    animation-delay: calc(var(--animation-seek-05nuo)*-1s);
}
.svg-mobile-clip-path-05nuo{
    animation: svg-clip-mobile-anim-05nuo 1s ease;
    animation-play-state: paused;
    animation-fill-mode: both;
    animation-delay: calc(var(--animation-seek-05nuo)*-1s);
}

@keyframes svg-clip-anim-05nuo{
    0%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    33%{
        clip-path: polygon(72% 0%, 100% 0%, 100% 100%, 72% 93%);
    }

    66%{
        clip-path: polygon(3% 0%, 31.5% 0%, 31.5% 90%, 3% 100%);
    }

    100%{
        clip-path: polygon(37% 0%, 68% 0%, 68% 100%, 37% 100%);
    }
}
@keyframes svg-clip-mobile-anim-05nuo{
    0%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    33%{
        clip-path: polygon(72% 33%, 100% 40%, 100% 95%, 72% 88%);
    }

    66%{
        clip-path: polygon(3% 40%, 31.5% 33%, 31.5% 87%, 3% 97%);
    }

    100%{
        clip-path: polygon(37% 5%, 68% 5%, 68% 59%, 37% 59%);
    }
}


.header-svg-wind-path{
    fill: none;
    fill-opacity: 0;
    stroke: rgb(223, 223, 223);
    stroke-linecap: square;
    stroke-dasharray: 1000 4000;
}
#wind-path4-05nuo{
    animation: wind-lines-05nuo 6s linear 1.25s infinite normal both;
}
#wind-path3-05nuo{
    animation: wind-lines-05nuo 6s linear 2.35s infinite normal both;
}
#wind-path2-05nuo{
    animation: wind-lines-05nuo 6s linear 2.9s infinite normal both;
}
#wind-path1-05nuo{
    animation: wind-lines-05nuo 6s linear 3.95s infinite normal both;
}
#wind-path-05nuo{
    animation: wind-lines-05nuo 6s linear 4.25s infinite normal both;
}
@keyframes wind-lines-05nuo{
    0%{
        stroke-dashoffset: 1650;
        stroke-width: 1px;
        opacity: 0.1;
    }
    35%{
        stroke-dashoffset: 100;
        stroke-width: 5px;
        opacity: 0.2;
    }
    70%{
        stroke-dashoffset: -4500;
        stroke-width: 1px;
        opacity: 0.1;
    }
    100%{
        stroke-dashoffset: -4500;
        stroke-width: 1px;
        opacity: 0.1;
    }
}

#scroll-bg-05nuo{
    opacity: 0;
    transition: opacity .4s ease-out;
}

/***************  */
#enterprise-panel-05nuo{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgb(209, 206, 218) 0%, rgb(233, 234, 240) 35%);
}

#institution-panel-05nuo{
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background: rgb(233, 234, 240); */
    background: rgb(116, 122, 206);
}

#association-panel-05nuo{
    position: relative;
    width: 100vw;
    height: 120vh;
    background: linear-gradient(180deg, rgb(233, 234, 240) 0%, rgb(209, 206, 218) 80%);
}

/****************/
#nav-buttons-05nuo{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    width: clamp(20px, 1.15vmax, 80px);
    height: 50%;
    box-sizing: border-box;
    isolation: isolate;
    z-index: 2;

    transform-style: preserve-3d;
    animation: nav-show-05nuo 0.8s ease 0.5s 1 normal both;
}

@keyframes nav-show-05nuo {
    0%{
        transform: perspective(300px) rotateY(-90deg) translate(-20px, 0);
    }
    40%{
        transform: perspective(300px) rotateY(5deg) translate(5px, 0); 
    }
    100%{
        transform: perspective(300px) rotateX(0deg) translate(0, 0);
    }
}

.nav-button-general-05nuo{
    display: block;
    box-sizing: border-box;
    width: clamp(20px, 1.15vmax, 80px);
    height: clamp(20px, 1.15vmax, 80px);
    background: rgb(127, 133, 216);
    border:none;
    padding: 0;
    border-radius: 20%;
    transition: border-radius 0.2s cubic-bezier(.48,-0.59,.53,1.5), transform 0.2s cubic-bezier(.48,-0.59,.53,1.5),
    border 0.1s ease, background 0.1s ease;
    cursor: pointer;
}
